
{% extends 'base.html.twig' %}

      
   {% block stylesheets %}

      <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="{{ asset('assets/css/caroussel.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
      <link rel="stylesheet" href="/assets/css/responsive.css">
      <link rel="icon" href="public/images/fevicon.png" type="image/gif" />
      <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
 
     <style>
        body {
            background-image: url('{{ asset('images/banner-bg.png') }}');
            background-size: cover;
            background-position: center;
        }
    </style>

{% endblock %}




      {% block body %}
      
         {# <style>
        body {
            background-image: url('{{ asset('images/banner-bg.png') }}');
            background-size: cover;
            background-position: center;
        }
    </style>
 #}


<div class="caroussel">
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <main>
</div>
 
      </div>
      <!-- header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
        
                  </div>
               </div>
            </div>
         </div>
      </div>
  
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_text">A propos de nous </h1>
                  <p class="lorem_text">"Search My Pro est votre compagnon incontournable dans la recherche de professionnels qualifiés. Notre mission est de simplifier votre vie en vous connectant rapidement aux meilleurs experts dans divers domaines. Que vous ayez besoin de services professionnels ou que vous soyez un professionnel cherchant à élargir votre clientèle, Search My Pro est là pour faciliter la mise en relation. Explorez notre plateforme intuitive et découvrez une communauté de talents prête à répondre à vos besoins, avec efficacité et fiabilité."</p>
                 
               </div>
               <div class="col-md-6">
         
               </div>
            </div>
         </div>
      </div>
    
      <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2023 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a> Distribution By <a href="https://themewagon.com">ThemeWagon</a></p>
      </div>
    {% endblock %}

    {% block script %} 
      <script src="{{asset('assets/js/jquery.min.js')}}"></script>
      <script src="{{asset('assets/js/popper.min.js')}}"></script>
      <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{asset('assets/js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{asset('assets/js/plugin.js')}}"></script>
      <script src="{{asset('assets/js/jquery.mCustomScrollbar.concat.minjs')}}"></script>
      <script src="{{asset('assets/js/custom.js')}}"></script>
      <script src="{{asset('assets/.js')}}"></script>
      <script src="{{asset('assets/js/owl.caroussel.js')}}"></script>



      <script src="{{asset('assets/js/cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')}}"></script>
       {% endblock %}
   
      
