{# reset_password.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
  
   <link rel="stylesheet" href="{{ asset('assets/css/request.css.css') }}">

    {% endblock %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div id="form-container">
        <h1>Reinitialisation de mot de passe</h1>
        
        {{ form_start(requestForm, {'attr': {'id': 'register-form'}}) }}
            {{ form_row(requestForm.email, {'attr': {'class': 'form-group'}}) }}
            <div>
                <small>Entrez votre mail pour que nous puissions vous envoyer un lien de reinitialisation de mot de passe</small>
            </div>
            <button class="btn btn-primary">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
