<nav>
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}"> <!-- Ajoutez cette ligne pour inclure votre fichier navbar.css -->
   
{% endblock %}


    <a href="{{ path('app_home') }}"><img src="images/logok.png"></a>
   
    <div id="navbarSupportedContent">
        <ul>
            
              {% if user %} 

            <li><a href="{{ path('app_user_show') }}">Mon Profil</a></li>

                   <li><a href="{{ path('app_logout') }}">Deconnection</a></li>
            
             {% else %} 
            <li><a href="{{ path('app_login') }}">Connection</a></li>

              {% endif %} 
            
    

            <li><a href="contact.html">Contact</a></li>

            <li><a href="{{ path('app_recherche') }}">Rechercher</a></li>
        </ul>
       
    </div>
</nav>


